
a{
    font-size: 14px;
    font-family: Verdana;
    color: rgb(121, 122, 121);
}

table{
    font-size: 14px;
    font-family: Verdana;
    color: rgb(121, 122, 121);
    background-color:rgb(231, 224, 210);
}

p{
    font-size: 14px;
    font-family: Verdana;
    color: green;
}
h3{
    font-size: 20px;
    font-family: Verdana;
    color: grey;
}
.menu{
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana;
    color: rgb rgb(125, 126, 125);
    
}
body{
    background-color: white;
}
.listas{
    font-size: 12px;
    font-family: Verdana;
    color: rgb(247, 247, 8);
}

#formuser{
    color: yellow;
    background-color: yellowgreen;
}
label{
    color: coral;
    font-family: Verdana;
}
.container{
<<<<<<< HEAD
    
    background-color: rgb(241, 241, 237);
    
=======
    border:0px solid white;
    width:500px;
>>>>>>> 8cf1ec78891417d02b73f43b19cb674a9faa6d20
}
.div1{
    background-color:white);
}
.div2{
    background-color:rgb(241, 241, 237);
}
.div3{
    background-color: rgb(241, 241, 237);
}
.div4{
    background-color: rgb(241, 241, 237);
}